<%= simple_form_for :search, url: listings_path, method: :get do |f| %>
  <div class="d-flex search-form">
    <div><%= f.input :address %></div>
    <div><%= f.input :price, collection: ["< 70.000", "70.000 - 150.000", "150.000 - 250.000", "250.000 - 450.000", "450.000 +"], label: "Price (usd)" %></div>
    <div><%= f.input :bedroom, collection: 1..6, label: "Bedrooms" %></div>
    <div><%= f.input :size, collection: ["< 50", "50 - 100", "100 +"], label: "Size (ã¡)" %></div>
    <div><%= f.input :bathroom, collection: 1..6, label: "Bathrooms" %></div>
    <div class="form-boolean">
      <div><%= f.input :instant_booking, as: :boolean, boolean_style: :inline %></div>
      <div><%= f.input :negotiable, as: :boolean, boolean_style: :inline %></div>
    </div>
    <div class="search-button"><%= f.submit "Search!", class: "btn search-button" %></div>
  </div>
<% end %>

params[:search].try(:[],:address)
