<div class="container mt-3">

  <h1>All listings</h1>
  <div class="main-container d-flex">
    <div class="row">
      <% @listings.each do |listing| %>
        <div class="col-md-4">
          <%= link_to listing_path(listing), class: "card-link-wrapper" do %>
            <div class="card mb-3 mr-2" style="width: 16rem; height: 320px">
              <% if listing.photos.attached?%>
                <div class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos.first.key, crop: :fill %>')">
                  <% if listing.instant_booking %>
                    <p class="badge-instant-viewing">INSTANT VIEWING</p>
                  <% else %>
                    <p class="badge-instant-viewing">VIEWING UPON REQUEST</p>
                  <% end %>
                </div>
              <% else %>
                <div class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg')">
                  <% if listing.instant_booking %>
                    <p class="badge-instant-viewing">INSTANT VIEWING</p>
                  <% else %>
                    <p class="badge-viewing-upon-request">VIEWING UPON REQUEST</p>
                  <% end %>
                </div>
              <% end %>
              <div class="card-body p-3">
                <h4><strong><i class="fas fa-pound-sign"></i> <%= listing.price %></strong></h4>
                <% if listing.sold %>
                    <div class="d-flex"><p><i class="fas fa-circle text-danger mb-0"></i> <%= listing.title.truncate(40) %></p></div>
                  <% else %>
                    <div class="d-flex"><p><i class="fas fa-circle text-success mb-0"></i> <%= listing.title.truncate(40) %></p></div>
                  <% end %>
                <div class="bedroom-bathroom d-flex">
                  <i class="fas fa-bed"></i>
                    <% if listing.bedroom.nil? %>
                      <p class="mr-3"> N/A</p>
                    <% else %>
                      <p class="mr-3"> <%= listing.bedroom %></p>
                    <% end %>
                  <i class="fas fa-shower"></i>
                    <% if listing.bathroom.nil? %>
                      <p> N/A</p>
                    <% else %>
                      <p> <%= listing.bathroom %></p>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="map"
      style="width: 85%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>

  <section>
    <%= render "search_form" %>
  </section>

    <%= link_to "New listing", new_listing_path %>
    <hr>
    <%= link_to 'Back', root_path %>

</div>
