<div class="container mt-3">
  <h1>Show page of '<%= @listing.title %>'</h1>
  <%= link_to "Edit", edit_listing_path(@listing) %>

  <hr>
  <%= link_to "View this listing", new_listing_booking_path(@listing) %>
  <%= link_to "Place an offer", new_listing_offer_path(@listing) %>
  <%= link_to "Back to all listings", listings_path %>
</div>
