<div class="container chat">
  <h1>Chat with <%= @conversation.other_user(current_user).first_name %></h1>
  <div id="messages" data-conversation-id="<%= @conversation.id %>">
    <% @conversation.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.first_name %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>


    <%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
    <%= f.input :content, label: false %>
    <div class="d-flex align-items-center">
    <%= f.button :submit, class:"btn btn-info" %>
    <% end %>
    <%= link_to 'Back', listing_path(@conversation), class:"ml-3 btn btn-secondary" %>
  </div>
</div>
