<div class="container">
<h1>Create an offer</h1>
  <div class="form-offer">
    <%= simple_form_for @offer do |f| %>
    <%= f.input :date %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.button :submit %>
    <% end %>
  </div>
</div>
