<div class="container offer">
  <h1>Create an offer for <span><%= @listing.title %></span></h1>
  <div class="form-offer">
    <%= simple_form_for [@listing, @offer] do |f| %>
    <% if @listing.negotiable %>
      <%= f.input :final_price, label: "Offer in Pounds", input_html: { value: @listing.price } %>
    <% else %>
      <%= f.input :final_price, label: "Offer in Pounds", input_html: { value: @listing.price }, readonly: true %>
    <% end %>
    <div class="d-flex justify-content-between">
      <%= link_to 'Back', listing_path(@listing), class:"btn bg-dark text-white" %>
      <%= f.button :submit, class:"btn btn-secondary" %>
    </div>
      <% end %>
  </div>
</div>
