<h2>CONTRACT OF AN OPTION TO BUY<h2>
<p> In Bali on the <%= Date.today %></p>

<p>APPEARING</p>

<p>As one party: <%= @offer.listing.user.first_name %> <%= @offer.listing.user.last_name %>, of full age, of Spanish nationality, holder of passport number <strong>536174636</strong>, with <strong>NIE X1152566J</strong> with address for any notifications regarding this contract at <%= @offer.listing.address %> henceforth “THE GRANTOR”</p>

<p>As the other party: <%= @offer.user.first_name %><%= @offer.user.last_name %> of full age, of Indonesian nationality, holder of passport number <strong>A864935</strong>, with address for any notifications regarding this contract at Frii Hotel, Canggu, Bali henceforth "THE OPTANTS"</p>

<p>CAPACITY</p>

<p>All parties intervene in their own name and right and recognise the necessary legal capacity to grant this contract of an option to buy and they,</p>

<p>STATE</p>

<p>I.- That THE GRANTOR the legal owner, in full title, of the property located at <%= @offer.listing.address %> under plot number 2839u2r2935u</p>

<p>Viewprop Reference: <%= @offer.listing.id %></p>
<p>Description: <%= @offer.listing.description %></p>
<p>Charges: THE GRANTOR the property is free of all charges and encumbrances.</p>
<p>Letting arrangements: THE GRANTOR the property is free of tenants, lettings and occupants.</p>

<p>II.- Being in agreement all parties take this to effect in accordance with the following:</p>

<p>STIPULATIONS</p>

<p>First.- That THE GRANTOR interested in granting to THE OPTANTS, who freely , an option to buy over the full title of the freehold property described in the first statement, together with all corresponding fittings, furnishings, fixtures and electrical appliances as seen, facilities and rights.</p>

<p>Second.- The price for the option to buy is GBP <%= @offer.final_price %> at exchange rate equivalent to EUR 76.250,00, which the amount of GBP <%= @offer.final_price %>! equivalent to EUR 7.625,00 has already been paid and the balance of GBP <%= @offer.final_price %>! equivalent to EUR <%= @offer.final_price * 7625 %> will be made payable by THE OPTANTS within a term of 10 calendar days as from the date of this contract, into the client's account of Roper Properties: </p>

<p>Bank name: <%= @offer.listing.user.first_name %> <%= @offer.listing.user.last_name %></p>
<p> Account name: Viewprop Properties, co. </p>
<p>IBAN: ES80 0049 5876 7123 1602 3344</p>
<p>BIC/SWIFT: BSCHESMM,</p>
<p>Bank address: Frii Hotel, Canggu, Bali </p>

<p>who is obliged to hold this amount in escrow until completion in the event of execution of the option rights conferred herein. Failure to receive the option price in the established account within the indicated term will render this contract null and void.</p>

<p>Third.- In the event of execution of the option to buy, the full purchase price for the property is GBP #Error! equivalent to EUR 762.500,00, from which the amount paid as the option to buy will be deducted. THE OPTANTS will make a payment of the remaining amount of the purchase price simultaneously on completion and granting of the deeds.</p>

<p>Forth.- The maximum term agreed by the parties for completion and granting of the deeds is until <%= Date.today %> included.<p>

<p>Fifth.- THE GRANTOR obliged to grant the corresponding title deed of purchase to THE OPTANTS or to the person appointed for this, against receipt of the total purchase price, deliver the keys to the property, an energy certificate, the last receipts for the payment of rates, the last water and electricity receipts of payments corresponding to the property that should be fully up to date and a electricity CAI bulletin should this become required.</p>

<p>All expenses and taxes, except plusvalía tax, arising from this agreement and consequent granting and registration of the public deeds of purchase will be the responsibility of the purchasers

All expenses of the property prior to the granting of the public deed, including the commission of the estate agents mediating in this transaction, shall be the account of the selling party which will be duly deducted from the price, which THE GRANTOR in complete agreement.

Sixth.- In the event of THE OPTANTS failing to pay the remaining amount of the purchase price of #Error!, within the established term, which is to say, before Tuesday, 15/03/2022 or at the time of signing the public title deed, this contract will be automatically cancelled, THE GRANTOR will be able to freely dispose of the property, keeping the price of the option of  as compensation for all damages and inconveniences caused, which the depositories would become obliged to make payable to THE GRANTOR.

Seventh.- In the event of THE GRANTOR failing to grant the public title deed of purchase in favour of THE OPTANTS or in favour of the person appointed when required to do so within the established term, which is to say, before Tuesday, 15/03/2022, THE GRANTOR would be obliged to return to THE OPTANTS the option price held of , plus a further 100% over the said amount as compensation for all damages and inconveniences caused.

Eighth.- THE GRANTOR aware of the obligation to a 3% retention on account of the capital gains over the purchase price upon completion and granting of the deeds, retention that THE OPTANTS  obliged to make from the purchase price and submit to the tax authorities, unless THE GRANTOR able to provide a certificate from the Spanish tax authorities certifying fiscal residency.

Ninth.- Any notifications or communications that need to be made regarding this contract will be made to the address indicated at the beginning of this contract, which is to say, to the following addresses:

THE GRANTOR: Calle Peñas Blancas 4, Tías, 35518, Spain
THE OPTANTS: 54 Parkstone Avenue
Emerson Park, Hornchurch, RM11 3LW, United Kingdom

Any modifications to the established address should be expressly notified to the parties in writing at least one moth in advance of the dare the modification is to take place.

Should such modification not be notified within the established term, then all communications sent to the addresses established above will be considered as correctly made pursuant to the conditions of this contract and to legal requirements.

Tenth.- For any queries or discrepancies that may arise as a result of the interpretation and fulfilment of the present contract, both parties renouncing any other jurisdiction that may correspond to them, submit themselves to the Courts and Tribunals of Arrecife, Lanzarote, all expenses, including Lawyers and Attorneys at Court fees, even if their intervention is not entirely necessary, being the responsibility of the party that caused the breach of contract.</p>
